/*--------------------------------------------------------------------------*/
/*This is main CSS file that intializes BG Images used in this template*/
/*--------------------------------------------------------------------------*/
.intro-05-item-01{
	background-image: url('../images/agency/01.jpg');
}
.intro-05-item-02{
	background-image: url('../images/agency/02.jpg');
}
.intro-05-item-03{
	background-image: url('../images/agency/03.jpg');
}
.intro-05-item-04{
	background-image: url('../images/agency/04.jpg');
}
.intro-05-item-05{
	background-image: url('../images/agency/05.jpg');
}
.intro-06{
	background-image: url('../images/bg/intro.jpg');
}
.about-bg{
	background-image: url('../images/bg/intro.jpg');
}
.promo{
	background-image: url('../images/bg/12.jpg');
}
.project-01-carousel-item-01{
	background-image: url('../images/bg/d1.jpg');
}
.project-01-carousel-item-02{
	background-image: url('../images/bg/d2.jpg');
}
.project-01-carousel-item-03{
	background-image: url('../images/bg/d3.jpg');
}
.project-02-carousel-item-01{
	background-image: url('../images/bg/C0.jpg');
}
.project-02-carousel-item-02{
	background-image: url('../images/bg/C1.jpg');
}
.project-02-carousel-item-03{
	background-image: url('../images/bg/C2.jpg');
}
.project-03-carousel-item-01{
	background-image: url('../images/bg/e1.jpg');
}
.project-04-carousel-item-01{
	background-image: url('../images/bg/f1.jpg');
}
.project-04-carousel-item-02{
	background-image: url('../images/bg/f2.jpg');
}
.project-04-carousel-item-03{
	background-image: url('../images/bg/f3.jpg');
}


/*Mobile Menu Logo*/
.menu-collapser {
    background-image: url('../images/logo.png');
}